body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
}

.intro-header {
    /* border: 2px solid red; */
}

.intro {
    /* border: 2px solid red; */
    padding-left: 500px;
    padding-top: 400px;
    color: white;
}

img {
    padding-top: 200px;
    padding-right: 300px;
}