body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
}

.intro {
    padding-left: 400px;
    padding-top: 400px;
    color: white;
}

img {
    padding-top: 200px;
    padding-right: 300px;
}

.navbar-colors{
    background-color: #6C63FF;
}

.text-color-white{
    color: white;
}