body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: black;
}

.intro {
    padding-left: 400px;
    padding-top: 400px;
    color: white;
}

img {
    padding-top: 200px;
    padding-right: 300px;
}

.navbar-colors{
    background-color: #6C63FF;
}

.text-color-white{
    color: white;
}

.avatar{
    padding: 20%;   
}

.education-container{
    background-color: #CED0DD;
}

.circle{
    background-color: pink;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
}

.project-container{
    background-color: #20A8E4;
}

.portfolio-container{
    background-color: white;
}